<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting id="last_modified" value="0.0" visible="false"/>
    <setting id="last_check" value="0.0" visible="false"/>
    <setting id="version" value="" visible="false"/>
    <category label="30900"> <!-- General -->
        <setting label="30901" help="30902" type="action" action="RunScript(script.module.inputstreamhelper, info)"/>
        <setting type="sep"/>
        <setting label="30903" help="30904" type="bool" id="disabled" default="false"/>
        <setting label="30905" type="text" enable="false"/> <!-- disabled_warning -->
    </category>
    <category label="30930"> <!-- Widevine -->
        <setting label="30931" help="30932" type="slider" id="update_frequency" default="31" range="1,3,90" option="int" enable="eq(-2,false)" visible="![System.Platform.Android | String.StartsWith(System.BuildVersion, 17)]"/>
        <setting label="30933" help="30934" type="folder" id="temp_path" source="" option="writeable" default="special://masterprofile/addon_data/script.module.inputstreamhelper" visible="![System.Platform.Android | String.StartsWith(System.BuildVersion, 17)]"/>
        <setting label="30935" help="30936" type="slider" id="backups" default="4" range="0,1,20" option="int" visible="![System.Platform.Android | String.StartsWith(System.BuildVersion, 17)]"/>
        <setting type="sep" visible="![System.Platform.Android | String.StartsWith(System.BuildVersion, 17)]"/>
        <setting label="30937" help="30938" type="action" action="RunScript(script.module.inputstreamhelper, widevine_install)" option="close" enable="String.StartsWith(System.BuildVersion,18) + System.HasAddon(inputstream.adaptive) | System.AddonIsEnabled(inputstream.adaptive)" visible="![System.Platform.Android | String.StartsWith(System.BuildVersion, 17)]"/>
        <setting label="30939" help="30940" type="action" action="RunScript(script.module.inputstreamhelper, rollback)" option="close" enable="String.StartsWith(System.BuildVersion,18) + System.HasAddon(inputstream.adaptive) | System.AddonIsEnabled(inputstream.adaptive)" visible="![System.Platform.Android | String.StartsWith(System.BuildVersion, 17)]"/>
        <setting label="30941" help="30942" type="action" action="RunScript(script.module.inputstreamhelper, widevine_remove)" option="close" enable="String.StartsWith(System.BuildVersion,18) + System.HasAddon(inputstream.adaptive) | System.AddonIsEnabled(inputstream.adaptive)" visible="![System.Platform.Android | String.StartsWith(System.BuildVersion, 17)]"/>
    </category>
</settings>
